/* generales */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    
    
    background-image: url(https://us.123rf.com/450wm/majivecka/majivecka1902/majivecka190200016/116261024-ilustraci%C3%B3n-del-icono-veterinario-silueta-de-vector-sobre-fondo-blanco-s%C3%ADmbolo-de-urgencia-para-anim.jpg?ver=6);
    
}
.clearfix{
    
}

/* cabecera */


#cabecera{
    width: 95%;
    height: auto;
    background-color: aquamarine;
    margin:0px auto ;
    border-radius: top 10%;
    border-radius: 10px 10px 10px 10px;
}
    
/* logo */
#logo{
    float: left;
    width: 100%;
    height: auto;

}


#logo a{
    font-size: 40px;
    color: black;
    text-shadow: 0px 0px 0px green, 1px 1px 0px green, 2px 2px 0px black;
    transition: all 500ms;
    line-height: 90px;
    margin-left: 20px;
}
#logo a:hover{
    cursor: pointer;

}
#imagenlogo{
   position: relative;
   width: 100px;
   height: 100px;
   left: 60%;
   bottom: 90px;




}

/* menu */

#menu{
    width: 100%;
    height: 40%;
    background-color: rgb(12, 53, 92);
    border: 1px solid rgb(253, 253, 253);
    border: 8px ;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    

}
#menu ul{
   list-style: none;
}

#menu ul li{
    float: left;
    line-height: 50px;
    border-right: 1px solid;
}

#menu ul li a{
    display: block;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 10px;
    color: rgba(252, 252, 252, 0.705);
}
#menu ul li a:hover{
    background: linear-gradient(to bottom,rgb(180, 51, 174) 0px, rgb(78, 158, 78) 100%);
}

/*contenedor principal*/

#principal{
    float: left;
    width: 65%;
    background: beige;
    border-radius: 5px;
    margin-left: 35px;
    padding: 20px;
    overflow: hidden;
    min-height: 550px;
    box-shadow: 0px 0px 5px chartreuse;
    

}
#principal h2{
    font-size: 32px;
    color: rgb(0, 0, 0);
    margin-top: 25px;
}
#principal p{
    margin-top: 10px;
    left: 50px;
    margin-top: 20px;
    font-size: 20px;
    background: beige;
    width: 40%;
}
#ver-mas a{
    color: black;
    width: 160px;
    bottom: 60px;

}
#imagen1{
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    bottom: 250px;
 
    
    
}
#imagen2{
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    top: -180px;

  

}



/*BARRA LATERAL*/


#sidebar{
    float: right;
    width: 25%;
    height: auto;
}
.bloque{
    display: block;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 35px;
    margin-left: -28px;
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
}
.bloque h3{
margin-bottom: 30px;
}
label,
input[type="text"],
input[type="date"],
input[type="number"]{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="date"],
input[type="number"]{
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"],
.boton{
    padding: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 2px;
    color: white;
    background: rgba(19, 35, 184, 0.884);
    border: 1px solid  rgba(19, 35, 184, 0.884);
    cursor: pointer;
    padding: 7px;

}
.boton{
    color: white !important;
    text-align: center;
    width: 150px;
}

/*formulario*/


    

/*pie de pagina*/
#pie{
    width: 95%;
    height: 60px;
    margin:700px auto ;
    border-radius: top 10%;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: aquamarine;
    color: #333;
    
}